.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Ensures the navbar is above other content */
}

body {
    padding-top: 64px; /* Adjust this value if your header is taller or shorter */
}

.overlay {
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem;
    border-radius: 0.5rem;
}

.image-wrapper {
  width: 400px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make the image fill the container and look clean */
}
.login-container {
        max-width: 400px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 991px) {
    .image-wrapper, .login-container {
        max-width: 450px; /* Limits the container size on smaller screens */
        width: 100%;
        height: auto; /* Makes height flexible on smaller screens */
    }
}